/* Whole Page */

body {
    font-family: arial,sans-serif;
    font-size: 13px;
}

ul {
    padding: 15px;
} 

li {
    display: inline;
}

a {
    color: #222;
    padding: 7.5px;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;   
}

.page-wrapper > * {
    flex: 0 1 auto;
}

/* Nav */

.nav-bar {
    display: flex;
    justify-content: space-between;
}

.dot-menu:hover {
    text-decoration: none;
}

.account-signin {
    background-color: #4285f4;
    border-radius: 3px;
    color: white;
    font-weight: 800;
    margin-left: 10px;
    padding: 7px;
    width: 25px;
}

/* Hero */

.hero {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    margin: 50px 0;
}

.hero > * {
    flex: 0 1 auto;
}

.search-area {
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    height: 24px;
    line-height: 24px;
    margin: 15px;
    padding: 10px;
}

.search-area:hover {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
}

.search-area i {
    color: #9aa0a6;
    height: 20px;
    line-height: 24px;
    margin-left: 5px;
    width: 20px;
}

input {
    border: 0;
    font-size: 16px;
    width: 350px;
}

input:focus {
    outline: 0;
}

button {
    border: 1px solid #ffffff;
    border-radius: 5px;
    background-color:#f2f2f2;
    font-size: 14px;
    padding: 10px;
    margin: 5px;
}

button:hover {
    background: #f8f8f8;
    border: 1px solid #c6c6c6;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

/* Footer */

.footer-bar {
    background-color: #f2f2f2;
    color: #5f6368;
    display: flex;
    justify-content: space-between;
}