body {
    font-family: arial,sans-serif;
    font-size: 13px;
}

ul {
    padding: 15px;
} 

li {
    display: inline;
}

a {
    color: #222;
    padding: 10px;
}

input {
    width: 350px;
}

.wrapper-flex {
    display: flex;
    flex-direction: column;
    height: 100vh;   
}

.wrapper-flex > * {
    flex: 0 1 auto;
}

.nav-flex {
    display: flex;
    justify-content: space-between;
}

.hero {
    display: flex;
    flex-direction: column;
    margin: 50px 0;
    align-items: center;
    flex-grow: 2;
}

.hero > * {
    flex: 0 1 auto;
}

.search-area {
    border: 1px solid #dfe1e5;
    margin: 15px;
    padding: 10px;
    border-radius: 20px;
}

button {
    background-color: lightgray;
    padding: 10px;
    margin: 5px;
}

.footer-flex {
    display: flex;
    justify-content: space-between;
}