body {
    font-family: arial,sans-serif;
    font-size: 13px;
}

ul {
    padding: 15px;
} 

li {
    display: inline;
}

a {
    color: #222;
    padding: 10px;
}

.nav-flex {
    display: flex;
    justify-content: space-between;
}